@mixin base-btn {
  cursor: pointer;
  height: 42px;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.25s ease-in-out;
  background-color: #00008b;
  -webkit-box-shadow: inset 0px 0px 13px 0px rgba(80, 131, 231, 0.49);
  box-shadow: inset 0px 0px 13px 0px rgba(80, 131, 231, 0.49);
  color: white;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $blue;
    -webkit-box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 139, 0.49);
    box-shadow: inset 0px 0px 13px 0px rgba(0, 0, 139, 0.49);
  }
}

@mixin input-element {
  input {
    font-family: "Titillium Web", sans-serif;
    color: $charcoal;
    padding: 5px 0px;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid darkblue;

    background-color: transparent;
    transition: 0.25s all ease-in-out;
    font-size: 1.1em;
    margin-bottom: 21px;

    &:focus {
      outline: none;
      border-bottom: 1px solid $blue;
    }
  }
}

@mixin base-grid() {
  display: grid;
  grid-gap: 21px;
}
